*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

:root {
    --border-style: none;
    /* --border-style: 1px solid black; */
}

body{
    background-color: #C6CAED  ;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Times New Roman';
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#button-container{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    max-width: 320px;
    margin: 0;
    border: var(--border-style);
}

.header {
    cursor: auto;
    color: #004262;
    border: var(--border-style);
    font-size: 31px;
    padding-bottom: 8px;
}

#header-button {
    cursor: pointer;
    color: #04141c;
}

#header-button:hover {
    color: #969b9f;
}

#cart-image{
    height: 200px;
    margin-right: 25px;
}

#input-field{
    width: 250px;
    height: 35px;
    background-color: #FAF4F0;
    color: #5B507A;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
}

#input-field::placeholder{
    font-family: 'Times New Roman', Times, serif;
    color: #A59CBF;
}

#input-field:hover::placeholder{
    color: #5B507A;
}

#add-button{
    cursor: pointer;
    width: 45px;
    height: 35px;
    color: #FAF4F0 ;
    background-color: #5B507A;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bolder;
}

#add-button:hover{
    background-color: #FAF4F0;
    color: #5B507A;
}

#remove-text {
    margin-top: 5px;
    text-align: center;
    width: 320px;
    font-size: small;
    font-weight: bolder;
    color: #04141c;
    border: var(--border-style);
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: var(--border-style);
    margin-top: 10px;
    letter-spacing: 0.4px;
    color: #FAF4F0;
}

ul li {
    cursor: pointer;
    font-size: 20px;
    background-color: #5B507A;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}

li:hover {
    opacity: 20%;
}