*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    background-color: #C6CAED  ;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#button-container{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    max-width: 320px;
    border: 1px solid black;
    margin: 0;
}

#cart-image{
    height: 200px;
    margin-right: 25px;
}

#input-field{
    width: 250px;
    height: 35px;
    background-color: #FAF4F0;
    color: #5B507A;
    font-family: 'Times New Roman';
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
}

#input-field::placeholder{
    color: #A59CBF;
}

#input-field:hover::placeholder{
    color: #5B507A;
}

#add-button{
    width: 45px;
    height: 35px;
    color: #FAF4F0 ;
    background-color: #5B507A;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    font-family: 'Times New Roman';
    font-size: 25px;
    font-weight: bolder;
}

#add-button:hover{
    background-color: #FAF4F0;
    color: #5B507A;
}